/* General Styling */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Style for Game Board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #87cefa; /* Lighter blue color */
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.box:hover {
    background-color: #00bfff; /* Slightly darker blue on hover */
}

/* Player Info and Winner Display */
#winnerDisplay {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ff4500; /* Make the status text (e.g., player wins) stand out */
    margin-top: 20px; /* Adjust margin as needed */
    text-align: center; /* Center the message */
    padding: 10px;
    background-color: #fff7e6; /* Light background for emphasis */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a specific width */
    margin: 20px auto; /* Center it horizontally */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Style for the player form */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #8CC63F;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #76b637;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .box {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 32px;
    }

    form {
        width: 90%;
    }
}
